Cannot issue HEAD request with a body

request prevents sending a HEAD request with a body. I think this is too strict. 

It is only the _response_ to a HEAD request that must not include a body. The HEAD request itself may include a body (cf. [RFC 7231 section 4.3.2](http://tools.ietf.org/html/rfc7231#section-4.3.2)):

>  A payload within a HEAD request message has no defined semantics;
>    sending a payload body on a HEAD request might cause some existing
>    implementations to reject the request.

In other words, you can send HEAD with a body, but you might run into trouble.

The same is true for [GET](http://tools.ietf.org/html/rfc7231#section-4.3.1) and [DELETE](http://tools.ietf.org/html/rfc7231#section-4.3.5):

> A payload within a GET request message has no defined semantics;
>    sending a payload body on a GET request might cause some existing
>    implementations to reject the request.
> 
>  A payload within a DELETE request message has no defined semantics;
>    sending a payload body on a DELETE request might cause some existing
>    implementations to reject the request.

Since request allows GET and DELETE with a body, I think it should allow HEAD with a body as well.


I would gladly remove that check :) @mikeal https://github.com/request/request/commit/fee5f89159a8f36b25df509c55093bf7ebd1c993 it looks like your own commit long time ago

It's incredibly rare to do this, as rare as sending a GET body (which is also technically legal). I'm fine with supporting it via the `body` property (assuming node's parser accepts it, my guess is that I added this check at a time that it didn't) but the streaming behavior should still assume there won't be a body since that is the 99.99999% use case and if we don't assume that we'll have issues waiting to detect streaming.

@mikeal Yeah, this is definitely rare. Limiting this to only the ```body``` property makes sense.

Thanks for the wonderful library.
