Realm is unnecessarily encoded with rfc3986

The realm parameter should be excluded when encoding parameters in lib/oauth.js `concatParams` function with `oauth.rfc3986`. Servers taking the realm value into consideration will reject the authorization because of the escaping.

Providing a test case for the failure is a bit difficult because it partially depends on the server implementation.
 
From oauth spec :
>The OPTIONAL realm parameter is added and interpreted per [RFC2617], section 1.2. 

From RFC2617
> The authentication parameter realm is defined for all authentication
>   schemes:
>
> realm       = "realm" "=" realm-value
> realm-value = quoted-string